<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/software_engineering?characterEncoding=UTF-8</property>
		<property name="connection.username">root</property>
		<property name="connection.password">qw1998</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="com.se.pojo.OperationLog" />
		<mapping class="com.se.pojo.Homework" />
		<mapping class="com.se.pojo.HomeworkAnswer" />
		<mapping class="com.se.pojo.Teacher" />
		<mapping class="com.se.pojo.Student" />
		<mapping class="com.se.pojo.TestScore" />
		<mapping class="com.se.pojo.OnlineTest" />
		<mapping class="com.se.pojo.CommonFile" />
		<mapping class="com.se.pojo.CourseChapter" />

		<!-- created by lw -->
		<mapping class="com.se.pojo.Exp" />
		<mapping class="com.se.pojo.ExpDoc" />
		<!-- <mapping class="com.se.pojo.Puzzle" /> <mapping class="com.se.pojo.Solution" 
			/> -->
		<mapping class="com.se.pojo.Notification" />
		<mapping class="com.se.pojo.NotificationView" />
		<!-- ************* -->

	</session-factory>

</hibernate-configuration>